---
title: Run the sample app
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a class="active" href="/tutorials/sample-app/mac/run-app">Mac</a></li>
  <li><a href="/tutorials/sample-app/linux/run-app">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/run-app">Windows</a></li>
</ul>
<hr />

# Run the sample app

<%= partial "/shared/process_build_common" %>


<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/update-app/" class="button cta">Next - Dynamically update the application</a></li>
  <li><a href="/tutorials/sample-app/mac/build-package/">Back to previous step</a></li>
</ul>
