# <a name="concepts-definitions" id="concepts-definitions" data-magellan-target="concepts-definitions">Builder Concepts & Definitions</a>

## Information Flow

## Services

## Ports

## Data Models

## Monitoring & Troubleshooting

## Logs