# <a name="using-supervisor-rings" id="using-supervisor-rings" data-magellan-target="using-supervisor-rings">Working with Rings</a>

## Determining size and shape

## Monitoring and troubleshooting rings

