# <a name="using-habitat">Using Habitat</a>

This guide will explain the ins and outs of using the Habitat cli to install, run, and configure packages. We'll cover the particulars of a few commonly used `hab` commands and explain how to use Habitat for managing applications.