ul.channels {
  margin-top: 8px;
  position: relative;
  cursor: pointer;

  li.channel {
    font-size: rem(11);
    font-weight: bold;
    font-family: $base-font-family;
    padding: 2px 10px;
    border-radius: 11px;
    color: $hab-blue;
    background-color: $hab-blue-light;
    border: 1px solid $hab-blue-light;
    display: inline-block;
    margin-right: 4px;
    text-align: center;
    white-space: nowrap;

    position: absolute;
    overflow: hidden;
    max-width: 20px;

    transition: max-width;
    transition-duration: .3s;
    transition-timing-function: linear;

    &.unstable {
      background-color: $hab-white;
      border: 1px solid $very-light-gray;
      color: $hab-blue;
    }

    &.stable {
      background-color: $hab-blue;
      border: 1px solid $hab-blue;
      color: $hab-white;
    }
  }

  &.expanded {

    li.channel {
      position: static;
      overflow: auto;
      max-width: 900px;
    }
  }
}
