---
title: Building packages concepts
---

<%= partial "/shared/basic_concepts_sample_app" %>

In the next step, you will learn how to use the Ruby scaffolding to quickly create a package for your Rails webapp.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/use-scaffolding" class="button cta">Next - Create plan with Scaffolding</a></li>
  <li><a href="/tutorials/sample-app/choose-environment/">Back to previous step</a></li>
</ul>
