.docker-export-settings-component {

  .action-list {
    &:first-child {
      border-bottom: $default-border;
    }
    .item {
      .column {
        &.configure {
          color: $hab-blue;
          cursor: pointer;
        }
        &.actions {
          color: $medium-gray;
        }
      }
    }
  }

  .toggle {
    display: flex;

    .unconfigured {
      font-style: italic;
      margin-left: $default-margin;
      line-height: 20px;
    }
  }

  .fields {

    label {
      font-size: $small-font-size;
    }

    input[type="text"] {
      font-family: $monospace-font-family;
      font-size: $small-font-size;
    }
  }
}
