---
title: Add configuration to your plan
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a href="/tutorials/sample-app/mac/configure-plan">Mac</a></li>
  <li><a class="active" href="/tutorials/sample-app/linux/configure-plan">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/configure-plan">Windows</a></li>
</ul>
<hr />

# Add configuration to your plan
<%= partial "/shared/configure_plan_common" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/linux/process-build" class="button cta">Next - Process your build</a></li>
  <li><a href="/tutorials/sample-app/linux/add-hooks/">Back to previous step</a></li>
</ul>
